svg {
    background-color: lightblue;
}

.graticule {
    stroke: slategrey;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

.land {
    fill: sandybrown;
}

.boundary {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 17px;
    padding: 0px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 10px;
    pointer-events: none;
}


rect.selection {
    stroke          : grey;
    stroke-dasharray: 4px;
    stroke-opacity  : 1;
    fill            : transparent;
}